{% extends "ActivityMonitor/layout.html" %}
{% block title %}
    List Processes
{% endblock title %}
{% block content %}
    <div class="container mt-4 mb-4 mw-100">
        <div class="card">
            <div class="card-header text-center h1">
                <h1>Processes</h1>
            </div>
            <div class="card-body">
                <hr/>
                <div class="row row-cols-auto">
                    {% for process, attributes in processes.items %}
                        <div class="col mb-4">
                            <div class="card text-center h-100">
                                <h5 class="card-header">PID: {{ attributes.pid }}</h5>
                                <div class="card-body d-flex flex-column">
                                    <p class="card-text">
                                        Process:
                                        <br/>
                                        {{ process.title }}
                                    </p>
                                    {% if attributes.status != "running" %}
                                        <span class="dot bg-danger mx-auto"></span>
                                    {% else %}
                                        <span class="dot bg-success mx-auto"></span>
                                    {% endif %}
                                    <h6 class="card-subtitle mt-1">{{ attributes.status.capitalize }}</h6>
                                    <br/>
                                    {% if process == "file manager" and attributes.status == "running" %}
                                        <div class="input-group justify-content-md-center h1">
                                            <a class="nav-link text-dark h1" href="{% url 'create_folder' %}"><i class="fas fa-folder-plus"></i></a>
                                            <a class="nav-link text-dark h1" href="{% url 'list_folders' %}"><i class="fas fa-folder-open"></i></a>
                                        </div>
                                    {% endif %}
                                    {% if process == "app manager" and attributes.status == "running" %}
                                        <div class="input-group justify-content-md-center h1">
                                            <a class="nav-link text-dark h1" href="{% url 'launch_app' %}"><i class="fas fa-plus-circle"></i></a>
                                            <a class="nav-link text-dark h1" href="{% url 'list_apps' %}"><i class="fas fa-list-ul"></i></a>
                                        </div>
                                    {% endif %}
                                    {% if process == "kernel" and attributes.status == "running" %}
                                    <div class="input-group justify-content-md-center h1">
                                        <a class="nav-link text-dark h1" href="{% url 'end_process' %}"><i class="fas fa-trash"></i></a>
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
