{% extends "ActivityMonitor/layout.html" %}
{% block title %}
    List Processes
{% endblock title %}
{% block content %}
    <div class="container mt-4 mb-4 mw-100">
        <div class="card">
            <div class="card-header text-center h1">
                <h1>Processes</h1>
            </div>
            <div class="card-body">
                <hr/>
                <div class="row row-cols-auto">
                    {% for process, attributes in processes.items %}
                        <div class="col mb-4">
                            <div class="card text-center h-100">
                                <h5 class="card-header">PID: {{ attributes.pid }}</h5>
                                <div class="card-body d-flex flex-column">
                                    <p class="card-text">
                                        Nombre:
                                        <br/>
                                        {{ process.upper }}
                                    </p>
                                    {% if attributes.status != "running" %}
                                        <span class="dot bg-danger mx-auto"></span>
                                    {% else %}
                                        <span class="dot bg-success mx-auto"></span>
                                    {% endif %}
                                    <h6 class="card-subtitle mt-1">{{ attributes.status }}</h6>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>setTimeout('location.reload()', 5000)</script>
{% endblock content %}
